/*Smartphones (Portrait) */
@media (min-width: 320px) {
    
}

/*Smartphones (Portrait)*/
@media (min-width: 360px) {
    
}

/*Smartphones (Portrait)*/
@media (min-width: 420px) {
    
}

/*Low Resolution Tablets, Mobiles (Landscape)*/
@media (max-width: 767px) {
    
    /**** index css ***/
    
    .header {
        padding: 10px 0px;
    }
    
    .default-padding {
        padding: 50px 0px;
    }
    
    .work-content {
        width: 100%;
    }
    
    .default-padding {
        padding: 0px 15px;
    }
    
    .work-img-box {
        margin: 20px 0px;
    }
    
    .adj-with {
        width: 100%;
    }
    
    .top-section-content {
        margin: 90px 0px 30px;
    }
    
    .top-section-content h1 {
        font-size: 24px;
    }
    
    .top-section-content a.btn-default {
        padding: 12px 16px;
    }
    
    h1.main-heading {
        margin-bottom: 50px;
        font-size: 24px;
    }
    
    .testimonial-text {
        width: 80%;
        font-size: 19px;
    }
    
    .aboutme-content p {
        font-size: 16px;
    }
    
    .aboutme-content a.btn-default {
        padding: 10px 16px;
        font-size: 16px;
    }
    
    .footer-content h1 {
        font-size: 26px;
    }
    
    ul.pull-right {
        float: none !important;
    }
    
    ul.links, ul.social {
        overflow: hidden;
    }
    
    ul.links li, ul.social li {
        list-style-type: none;
        float: left;
        margin-left: 0px; 
        margin-top: 4px;
        margin-right: 15px;
        margin-bottom: 4px;
    }
    
    .footer-content {
        margin: 12px 0px; 
    }
    
    ul.links li a {
        font-size: 18px;
    }
    
    .footer-content p {
        font-size: 14px;
        margin-bottom: 10px;
    }
    
    /***** Process css **/
    
    .panel-title a {
        font-size: 14px;
    }
    
    #accordion .panel-heading a:before {
        font-size: 20px;
        right: 0px;
    }
    
    /** work ***/
    
    .slick-arrow {
        top: 27.5%;
    }
    
    .slider-for button.slick-next {
        top: 31%;
    }
}
    

/* Tablets (Landscape) */
@media (min-width: 768px) {
    .box-next {
        margin-top: 150px;
    }
    
    .box-next h3 {
        margin-bottom: 20px;
        color: #000;
    }
    
    .pd-left {
        padding-left: 0px;
    }
}

/*Ipad*/
@media (min-width: 992px) {
    
}

/*Desktops*/
@media (min-width: 1200px) {
    
}

@media (min-width: 1366px) {
    
}

@media (min-width: 1400px) {
    
}

@media (min-width: 1600px){
    
}

@media (min-width: 1920px){
    
}