html,
body {
	width: 100%;
	height: 100%;
	padding: 0;
	margin-left: 0;
	margin-right: 0;
    font-family: 'Roboto', sans-serif;
    background-color: #FFFFFF;
	-webkit-font-smoothing: antialiased;
}

a {
	text-decoration: none;	
}

a:hover, a:focus {
	text-decoration: none;
	outline: 0;
}

img {
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
    -webkit-user-drag: none;
    user-drag: none;
}

.valign{
    position: relative;
    top: 50%;
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
}

.img-center{
    margin-left: auto;
    margin-right: auto;
    left: auto;
    right: auto;
}

.noscroll{
    overflow: hidden;
}

.static{
    position: static;
}

.nopadding {
    padding-left: 0px;
    padding-right: 0px;
}

.clear {
    clear: both;
}

* {
    -webkit-transition: all 0.5s;
    transition: all 0.5s;;
}

.default-padding {
    padding: 80px 0px;
}


/****** Header CSS ******/

.header {
    padding: 20px 0px;
}

.navbar {
    margin: 0px;
}

.navbar-default {
    background-color: transparent;
    border: 0px;
}

.navbar-default .navbar-brand, .navbar-default .navbar-brand:hover {
    color: #4DE1BF;
    text-transform: uppercase;
    font-weight: 700;
    font-size: 30px;
}

.navbar-default .navbar-nav > .active > a, .navbar-default .navbar-nav > li > a {
    background-color: transparent;
    font-size: 20px;
    color: #4DE1BF;
}

.navbar-default .navbar-nav > .active > a {
    color: #4DE1BF;
    font-weight: 700;
}

.navbar-default .navbar-nav > .active > a:hover, .navbar-default .navbar-nav > .active > a:focus, 
.navbar-default .navbar-nav > li > a:hover, .navbar-default .navbar-nav > li > a:focus {
    background-color: transparent;
    color: #4DE1BF;
    font-weight: 700;
}

/**** top-section ****/

.header-top {
    background-color: transparent;
}

.top-section {
    background-color: transparent;
}

.top-section-content {
    margin: 100px 0px 30px;
}

.top-section-content h1 {
    color: #767676;
    margin: 0px 0px 10px;
    font-weight: 400;
}

.top-section-content a.btn-default {
    background-color: transparent;
    padding: 12px 22px;
    font-size: 16px;
    border-color: #4DE1BF;
    font-weight: 700;
    color: #4DE1BF;
    margin-top: 10px;
}

.top-section-content a.btn-default:hover {
    background-color: #4DE1BF;
    color: #fff;
}

/*** second-section ***/

.second-section {
    background-color: #F1F1F1;
}

h1.main-heading {
    text-transform: uppercase;
    text-align: center;
    font-weight: 400;
    color: #8D8D8D;
    letter-spacing: 1.5px;
    margin-bottom: 80px;
}

.img-box {
    margin-bottom: 20px;
}

.img-box img {
    -webkit-box-shadow: 0px 0px 6px rgba(0,0,0,0.5);
    box-shadow: 0px 0px 6px rgba(0,0,0,0.5);
}

/*** thingsdo ***/

.thingsdo {
    
}

.thingsdo-box {
    padding: 20px 0px 20px 20px;
    color: #656565;
    -webkit-box-shadow: 0px 10px 18px -2px rgba(0,0,0,0.2);
    box-shadow: 0px 10px 18px -2px rgba(0,0,0,0.2);
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    margin-bottom: 20px;
}

.thingsdo-box h3 {
    font-weight: 700;
    color: #656565;
}

/**** testomonial-content ***/

.testomonial-content {
    position: relative;
}

.testimonial-text {
    position: absolute;
    width: 50%;
    top: 50%;
    left: 50%;
    -webkit-transform: translateY(-50%);
    transform: translate(-50%, -50%);
    z-index: 2;
    color: #fff;
    text-align: center;
    font-size: 26px;
}

.testimonial-text p {
    margin-bottom: 0px;
}

.line {
    margin: 20px auto;
    width: 40px;
    height: 5px;
    background-color: #fff;
}

.testimonial-text h3 {
    margin: 0px;
    font-size: 22px;
}

.testimonial-text h3 small {
    font-size: 20px;
    display: block;
    margin-top: 5px;
}

/**** aboutme-content ****/

.aboutme-content {
    margin-bottom: 30px;
}

.aboutme-content h2 {
    margin: 0px;
    margin-bottom: 20px;
}

.aboutme-content h2 {
    color: #979797;
    font-weight: 700;
}

.aboutme-content p {
    font-size: 26px;
    color: #A1A1A1;
    margin-bottom: 20px;
}

.aboutme-content a.btn-default {
    background-color: transparent;
    padding: 10px 20px;
    margin-right: 10px;
    font-size: 20px;
    font-weight: 700;
    color: #A1A1A1;
}

.aboutme-content a.btn-default:hover {
    background-color: #4DE1BF;
    border-color: #4DE1BF;
    color: #fff;
}

.aboutme-content a i.fa-linkedin {
    color: #007EBB;
}

.linkdin-btn:hover {
    background-color: #007EBB;
    border-color: #007EBB;
}

/***** footer *****/

.footer-padding {
    background-color: #656565;
}

.footer-content {
    margin: 30px 0px;
    overflow: hidden;
}

.footer-content h1, .footer-content p {
    margin: 0px;
    color: #fff;
}

.footer-content h1 {
    text-transform: uppercase;
}

.footer-content p {
    font-size: 20px;
    color: #B9B9B9;
}

hr {
    margin: 0px;
}

ul.links, ul.social {
    padding: 0px;
    margin: 0;
}

ul.links li, ul.social li {
    list-style-type: none;
    float: left;
    margin-left: 20px;
    margin-top: 4px;
}

ul.links li a {
    color: #fff;
    font-size: 24px;
}

ul.social li a {
    padding: 4px 8px;
    background-color: #fff;
    color: #B9B9B9;
    border-radius: 50%;
    font-size: 14px;
}

/**** contact page css ****/

.contact-content {
    margin-bottom: 50px;
}

.contact-content p, .contact-content a {
    font-size: 24px;
    color: #808080;
    margin-bottom: 0px;
}

.form-group {
    margin-bottom: 25px;
}

.form-control {
    height: 50px;
    padding: 10px 12px;
}

.radio label, .checkbox label {
    color: #808080;
    font-size: 18px;
}

.form button.btn-default {
    text-transform: uppercase;
    padding: 12px 60px;
    font-size: 19px;
    font-weight: 700;
    background-color: #b8b3b3;
    margin-top: 30px;
}

/*** process page css ***/

.panel {
  border-width: 0 0 1px 0;
  border-style: solid;
  border-color: #fff;
  background: none;
  -webkit-box-shadow: none;
  box-shadow: none;
}

.panel:last-child {
  border-bottom: none;
}

.panel-group > .panel:first-child .panel-heading {
  border-radius: 4px 4px 0 0;
}

.panel-group .panel {
  border-radius: 0;
}

.panel-group .panel + .panel {
  margin-top: 0;
}

.panel-heading {
  background-color: #fff;
  border-radius: 0;
  border: none;
  color: #fff;
  padding: 0;
    padding: 20px;
    overflow: hidden;
}

.panel-heading img {
    float: left;
    margin-right: 10px;
}

.panel-group {
    margin-bottom: 40px;
    -webkit-box-shadow: 0px 4px 9px -2px rgba(0,0,0,0.5);
    box-shadow: 0px 4px 9px -2px rgba(0,0,0,0.5);
}

.panel-title {
    margin-top: 14px; 
}

.panel-title a {
  display: block;
  color: #fff;
  padding: 15px;
  position: relative;
  font-size: 20px;
  font-weight: 700;
    color: #797979;
}

.panel-body {
  background: red;
}

.panel:last-child .panel-body {
  border-radius: 0 0 4px 4px;
}

.panel:last-child .panel-heading {
  border-radius: 0 0 4px 4px;
  -webkit-transition: border-radius 0.3s linear 0.2s;
  transition: border-radius 0.3s linear 0.2s;
}

.panel:last-child .panel-heading.active {
  border-radius: 0;
  -webkit-transition: border-radius linear 0s;
  transition: border-radius linear 0s;
}
/* #bs-collapse icon scale option */

.panel-heading a:before {
  content: '\e146';
  position: absolute;
  font-family: 'Material Icons';
  right: 5px;
  top: 10px;
  font-size: 24px;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
  -webkit-transform: scale(1);
  transform: scale(1);
}

.panel-heading.active a:before {
  content: ' ';
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
  -webkit-transform: scale(0);
  transform: scale(0);
}

#bs-collapse .panel-heading a:after {
  content: ' ';
  font-size: 24px;
  position: absolute;
  font-family: 'Material Icons';
  right: 5px;
  top: 10px;
  -webkit-transform: scale(0);
  transform: scale(0);
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}

#bs-collapse .panel-heading.active a:after {
  content: '\e909';
  -webkit-transform: scale(1);
  transform: scale(1);
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}
/* #accordion rotate icon option */

#accordion .panel-heading a:before {
  content: '\e316';
  font-size: 32px;
  color: #4DE1BF;
  position: absolute;
  font-family: 'Material Icons';
  right: 5px;
  top: 10px;
  -webkit-transform: rotate(180deg);
  transform: rotate(180deg);
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}

#accordion .panel-heading.active a:before {
  -webkit-transform: rotate(0deg);
  transform: rotate(0deg);
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}

/**** work css ***/

.work-header {
    background-color: transparent;
    position: absolute;
    z-index: 999;
    width: 100%;
}

.crossbow {
    background-color: #383339;
}

.sbi {
    position: relative;
    background-color: #1585C7ed;
}

.forindia {
    position: relative;
    background-color: #A2DC49;
}

.auto {
    position: relative;
    background-color: #000000;
}

.pizzagirl {
    position: relative;
    background-color: #E91F2F;
}

.propisify {
    position: relative;
    background-color: #00C2DB;
}

.isle {
    position: relative;
    background-color: #040404;
}

.work-content  {
    margin: 150px 0px 50px;
    width: 40%;
}

.work-content h1 {
    color: #fff;
}

.work-content h3 {
    color: #fff;
    font-size: 20px;
}

.work-content p {
    color: #fff;
    font-size: 16px;
}

.work-content p span {
    margin-right: 20px;
}

.slider-for button.slick-next {
    position: absolute;
    top: 48%;
    /* width: 200px; */
    right: 12%;
}

.slick-next, .slick-prev {
    z-index: 99999;
}

.slick-prev, .slick-next {
    left: auto;
    right: 20%;
    top: 45%;
}

.slick-next {
    right: auto;
}

.slider-nav button.slick-next {
    position: absolute;
    bottom: -15px;
    /* width: 200px; */
    right: 45%;
    top: auto;
    z-index: 9999;
    background-color: red;
}

.slick-arrow {
    top: 45%;
    height: 26px;
    width: 14px;
    right: 0;
    margin-top: -13px;
    position: absolute;
    font-size: 0;
    cursor: pointer;
    background-color: transparent;
    border: none;
    background-image: url(https://tarkikromanski.github.io/files/arrow-slider.png) !important;
    background-repeat: no-repeat;
}

.slick-prev {
    left: auto;
    -webkit-transform: rotate(180deg);
    transform: rotate(180deg);
    right: 20%;
}

.slick-next {
    right: 15%;
}

.slick-next:focus, .slick-next:hover, .slick-prev:focus, .slick-prev:hover {
    
}

.slick-prev:before, .slick-next:before {
    content: "";
    display: none;
}

.adj-with {
    width: 80%;
    margin: 0 auto;
}

.work-img-box {
    margin-bottom: 50px;
}

.work-wrapper h3 {
    font-size: 26px;
    color: #333;
    margin-bottom: 50px;
    font-weight: 400;
}

.adj-with h1 {
    margin-bottom: 50px;
    font-weight: 700;
}